h2 {
  color: blue;
}

body {
  background-color: rgb(167, 167, 167);
}

:root .theme-blue {
  --config-color-blue-50: #e9eaed;
  --config-color-blue-100: #dedfe3;
  --config-color-blue-200: #bbbdc6;
  --config-color-blue-300: #242b47;
  --config-color-blue-400: #202740;
  --config-color-blue-500: #1d2239;
  --config-color-blue-600: #1b2035;
  --config-color-blue-700: #161a2b;
  --config-color-blue-800: #101320;
  --config-color-blue-900: #0d0f19;
}

:root .theme-accets {
  --config-color-yellow-50: #faf7f0;
  --config-color-yellow-100: #f8f3e9;
  --config-color-yellow-200: #f1e7d1;
  --config-color-yellow-300: #d1b06b;
  --config-color-yellow-400: #bc9e60;
  --config-color-yellow-500: #a78d56;
  --config-color-yellow-600: #9d8450;
  --config-color-yellow-700: #7d6a40;
  --config-color-yellow-800: #5e4f30;
  --config-color-yellow-900: #493e25;
}

:root .theme-whit {
  --config-color-white-100: #ffffff;
  --config-color-white-300: #e6e6e6;
  --config-color-white-400: #cccccc;
  --config-color-white-500: #bfbfbf;
  --config-color-white-600: #999999;
  --config-color-white-700: #737373;
  --config-color-white-800: #595959;
}
