h2 {
  color: blue;
}


:root .theme-blue {
  --blue-50: #e9eaed;
  --blue-100: #dedfe3;
  --blue-200: #bbbdc6;
  --blue-300: #242b47;
  --blue-400: #202740;
  --blue-500: #1d2239;
  --blue-600: #1b2035;
  --blue-700: #161a2b;
  --blue-800: #101320;
  --blue-900: #0d0f19;
}

:root .theme-accets {
  --yellow-50: #faf7f0;
  --yellow-100: #f8f3e9;
  --yellow-200: #f1e7d1;
  --yellow-300: #d1b06b;
  --yellow-400: #bc9e60;
  --yellow-500: #a78d56;
  --yellow-600: #9d8450;
  --yellow-700: #7d6a40;
  --yellow-800: #5e4f30;
  --yellow-900: #493e25;
}

:root .theme-whit {
  --white-100: #ffffff;
  --white-300: #e6e6e6;
  --white-400: #cccccc;
  --white-500: #bfbfbf;
  --white-600: #999999;
  --white-700: #737373;
  --white-800: #595959;
}

.navbar {
  background-color: rgb(255, 0, 0) !important;
}


body {background-color: rgb(167, 167, 167);}
